[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".tmux/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
